$main-background: #FAFAFB;
$second-background: #F6F8FB;

$margin-color: #97BEF4;
$button-color: #2F80ED;

$main-font-color: #4F4F4F;
$second-font-color: #828282;
$third-font-color: #BDBDBD;
$white-font: #FFFFFF;